{% extends 'base.html' %}

{%block title%}Success Page{% endblock title %}

{% block content %}
{% if posts %}
    <p>Success</p>
    <table>
        <thead>
            <th>ID</th>
            <th>Title</td>
            <th>Body</th>
        </thead>
    {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
        </tr>    
    {% endfor %}
    </table>
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock content %}